# Simulation Exercises
1. How likely is it that you roll doubles when rolling two dice?
2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?
3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?
4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need to make a judgement call on how to handle some of your values
5. Compare Heights
- Men have an average height of 178 cm and standard deviation of 8cm.
- Women have a mean of 170, sd = 6cm.
- Since you have means and standard deviations, you can use np.random.normal to generate observations.
- If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?
6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?
- What is the probability that we observe an installation issue within the first 150 students that download anaconda?
- How likely is it that 450 students all download anaconda without an issue?
7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?
- How likely is it that a food truck will show up sometime this week?
8. If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?
- Be sure to add, commit, and push your work.

In [2]:
# Env Set up
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import viz 
import math
import seaborn as sb

np.random.seed(5)

In [3]:
# How likely is it that you roll doubles when rolling two dice?
rolls = pd.DataFrame(np.random.randint(1,7, size = (10**5, 2)))
doubles = rolls.apply(lambda row: row.values[0] ==row.values[1], axis =1)
doubles.mean()

0.17008

In [83]:
# Trying to validate answer, I found another method
df=pd.DataFrame()
df['x'] = np.random.randint(1,7,10000)
df['y'] = np.random.randint(1,7,10000)
(df.x==df.y).mean()

0.1648

### 2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [6]:
flips = pd.DataFrame(np.random.randint(2, size = (10000, 8)))
flips.sample (10)

      0  1  2  3  4  5  6  7
91    0  0  0  1  1  1  0  0
7364  1  0  1  1  1  0  1  1
3559  1  0  0  1  0  1  1  0
9274  1  1  1  0  1  1  1  1
5968  1  1  0  1  0  1  1  0
8235  0  0  0  0  0  0  1  0
156   1  1  0  1  0  1  0  1
1841  0  0  1  0  0  1  1  1
2026  1  1  0  0  0  1  1  1
2934  1  0  1  0  1  0  1  0

In [8]:
#3 heads
(flips.sum(axis =1)==3).mean()

0.2207

In [11]:
# >3
(flips.sum(axis =1)>=3).mean()

0.8555

### 3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [12]:
boards = pd.DataFrame(np.random.choice(['web','web','web','data'], size = (10000, 2)))
boards.head()

      0     1
0  data   web
1   web  data
2   web   web
3  data   web
4   web   web

In [15]:
double_boards = boards.apply(lambda row: row.values[0] ==row.values[1], axis =1)
double_boards.mean()

0.6287

In [18]:
# 63% cannot be right... for 1/4 of the data science.... recaluclating
boards = pd.DataFrame(np.random.choice(['web','data'], p=[.75,.25], size = (10000,2)))
double_boards = boards.apply(lambda row: row.values[0]==row.values[1]=='data', axis = 1)
double_boards.mean()

0.0617

### 4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need to make a judgement call on how to handle some of your values`

In [20]:
pops = pd.DataFrame(np.random.normal(3, 1.5, size = (10**5, 5)))
pops.head()

          0         1         2         3         4
0  2.838621  1.367750  2.407687  3.724961  4.394565
1  4.300996  1.511801  1.386129  5.111027  0.929672
2  4.843158  3.938183  2.648271  5.359113  0.680682
3  2.400949  2.207372  0.988725 -0.005978  3.389985
4  5.654326  3.584432  4.204105 -0.659579  4.517262

In [51]:
(pops.sum(axis = 1)<17).mean()

0.72573

In [50]:
buys = np.random.normal(3, 1.5, size = (10000,5))
buys = np.where(buys<0,0,buys)
(buys.sum(axis =1) <=16).mean()

0.616

5. Compare Heights
- Men have an average height of 178 cm and standard deviation of 8cm.
- Women have a mean of 170, sd = 6cm.
- Since you have means and standard deviations, you can use np.random.normal to generate observations.
- If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [25]:
male_heights = pd.DataFrame(np.random.normal(178,8, size = 10000))
female_heights = pd.DataFrame(np.random.normal(170, 6, size = 10000))

### If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [28]:
height_dif = female_heights>male_heights
height_dif.mean()

0    0.2153
dtype: float64

6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?
- What is the probability that we observe an installation issue within the first 150 students that download anaconda?
- How likely is it that 450 students all download anaconda without an issue?

In [37]:
def corrupted(x):
    install = pd.DataFrame(np.random.choice([True,False],
                                            p=[1/250, 249/250],
                                            size = (10000, x)))
    return(install.sum(axis = 1)==0).mean()

In [38]:
#What are the odds that after having 50 students download anaconda?
student_50 = corrupted(50)
student_50

0.8224

In [39]:
# What are the odds that after having 100 students download anaconda?
student_100 = corrupted(100)
student_100

0.6657

In [40]:
first_150 = pd.DataFrame(np.random.random(size = 150))
first_150.head()

          0
0  0.073244
1  0.241681
2  0.273684
3  0.844778
4  0.488123

In [41]:
# What is the probability that we observe an installation issue within the first 150 students that download anaconda?
1-corrupted(150)

0.44689999999999996

In [42]:
# How likely is it that 450 students all download anaconda without an issue?
corrupted(450)

0.1646

7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?
- How likely is it that a food truck will show up sometime this week?

In [58]:
trucks = pd.DataFrame(np.random.rand(10000, 3))
trucks.head()

          0         1         2
0  0.537994  0.761262  0.900889
1  0.824634  0.218800  0.999972
2  0.509723  0.742255  0.072245
3  0.259166  0.365816  0.514010
4  0.131237  0.298331  0.674478

In [68]:
#. Mental Math
.3*.3*.3

0.027

In [59]:
((trucks>.7).sum(axis = 1)==3).mean()

0.028

In [64]:
trucks_7 = pd.DataFrame(np.random.rand(10000, 7))
trucks_7.head()

          0         1         2         3         4         5         6
0  0.507612  0.337603  0.791542  0.193114  0.451196  0.520327  0.279728
1  0.716573  0.657619  0.748700  0.601959  0.024723  0.263722  0.819820
2  0.382890  0.195892  0.998049  0.307016  0.291078  0.891701  0.090641
3  0.924380  0.487909  0.598040  0.612848  0.263410  0.232036  0.127542
4  0.113985  0.824628  0.636838  0.984219  0.070853  0.494406  0.603763

In [65]:
((trucks>.7).sum(axis =1)>=1).mean()

0.662

In [78]:
# Mental Math
1-(.7*.7*.7*.7*.7*.7*.7)

0.9176457

In [79]:
# Original answer of .662 is not as close as I assumed it would be... trying another method
food_truck = pd.DataFrame(np.random.choice([True,False],
                                            p=[.7, .3],
                                            size = (10000, 3)))
(food_truck==True).sum(axis = 1).mean()

2.0907

In [80]:
# Originally did it with sum but got answer below - not sure why ".any" works but ".sum" gives you 2.11
(food_truck==True).any(axis = 1).mean()

0.9718

8. If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [90]:
b_days = np.random.randint(1,366, size = (10000, 23))
df = pd.DataFrame(b_days)

In [91]:
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,68,38,343,109,250,26,225,289,164,175,...,176,187,319,42,165,338,241,328,291,103
1,173,112,211,182,141,314,198,17,301,161,...,157,208,129,212,210,5,109,34,290,150
2,299,283,320,258,295,102,173,234,221,4,...,68,191,317,307,312,63,171,175,273,228
3,331,168,176,303,139,58,192,235,273,280,...,95,63,99,158,64,192,39,68,253,286
4,191,24,171,326,43,27,185,347,135,156,...,70,194,141,1,165,227,231,345,25,360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,308,55,69,196,324,191,197,76,298,341,...,175,296,125,364,355,332,170,112,51,365
9996,194,61,256,89,96,223,84,113,163,241,...,130,259,332,58,205,275,267,193,333,161
9997,123,364,242,306,222,338,342,249,202,352,...,237,304,248,44,240,199,100,183,316,122
9998,107,63,201,306,204,303,323,128,263,233,...,81,35,235,6,233,125,310,137,172,349
9999,43,205,297,137,91,355,151,39,54,158,...,198,261,63,272,181,360,111,141,82,212

In [99]:
(df.nunique(axis = 1)>=1)

0       True
1       True
2       True
3       True
4       True
        ...
9995    True
9996    True
9997    True
9998    True
9999    True
Length: 10000, dtype: bool

In [ ]:
#Couldn't get an equation to work from here.

In [102]:
# New approach
def bdays(x):
    bdays = pd.DataFrame(np.random.randint(1,366, size = (10000,x)))
    chance = ((x-(bdays.nunique(axis = 1)))>=1).mean()
    return chance

In [103]:
bdays(23)

0.5056

- what if it's 20 People?

In [104]:
bdays(20)

0.4174

- What if it's 40?

In [105]:
bdays(40)

0.8892

# Mage Duel
Let's use what we've learned to play a mage duel!

Imagine your wizard has 6d4 health points and you have spells that do 6d4 damage. "6d4" means rolling six 4-sided dice and summing the result.

Your opposing mage has 4d6 health points and spells that do 4d6. "4d6" means rolling four six-sided dice and summing the result.

Exercises

Simulate mage duels to answer who is the more powerful mage?

Before running simulations, do you have a hypothesis of which mage will win? Do you have a hunch? Write it down. This is your first exercise.
Simulate 10 mage duels. Is there a clear winner? Run that 10 duel simulation again. Was the answer similar?
Do the results change much at 100 duels?
Now, simulate 10,000 mage duels. Is there a clear winner?

In [106]:
health1 = pd.DataFrame(np.random.randint(1,5, size = (10000,6)))
damage1 = pd.DataFrame(np.random.randint(1,5, size = (10000,6)))
health2 = pd.DataFrame(np.random.randint(1,7, size = (10000,4)))

#hypothesis: Mage 1 will win more times than not

wins = damage1.sum(axis = 1)>health2.sum(axis=1)
wins.mean()

0.5456

In [107]:
def wins(x):
    health1 = pd.DataFrame(np.random.randint(1,5, size = (x,6)))
    damage1 = pd.DataFrame(np.random.randint(1,5, size = (x,6)))
    health2 = pd.DataFrame(np.random.randint(1,7, size = (x,4)))
    chances = damage1.sum(axis=1)>health2.sum(axis = 1)
    return chances.mean()

In [109]:
wins(10000)

0.5455

In [110]:
wins(10)

0.4

In [111]:
wins(100)

0.49

In [112]:
wins(10000)

0.5426